Body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #777;
  background: #777;
  width: 960px;
  font-size: 18px;
  padding: 1em;
}

Header, Nav, Section, Aside, Footer {
  background:#ebebeb;
  border:1px solid lightgray;
	padding:2em;
  margin-bottom:1em;
  text-align: center;
}

Article {
  border:1px solid lightgray;
	padding:.5em;
	margin-bottom:1em;
  color:#ebebeb;
  background: #777;
}

h1,h2,h3, p {
  border:1px solid lightgray;
	padding:.5em;
	margin-bottom:1em;
  color:#777;
  background:#ebebeb;
}

section, footer {
  float: left;
  width: 450px;
}

footer {
  width: 885px;
}

Aside {
  float: right;
  width: 120px;
  padding:7.85em;
  margin-bottom: 1em;
}

